services:
  database:
    container_name: challenge_database
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data
volumes:
  database_volume:
    name: challenge_database_volume